body {
	background-color: skyblue;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.screen {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
#pokeimage {
	background-color: rgb(88, 129, 88);
	height: 250px;
	width: 250px;
	margin: auto;
	padding: auto;
	border: 4px groove lightgray;
}
.left {
	background-color: red;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	border-right: 6px groove rgba(155, 11, 11, 0.691);
}
.right {
	background-color: red;
	border-left: 6px solid groove;
	font-size: 22px;
	font-weight: 700;
	text-align: Center;
	border-left: 4px groove darkred;
}

#number {
	font-size: 22px;
	font-weight: 700;
	text-align: Center;
	border: 2px solid gray;
}
.pokedex {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: 80%;
	width: 60%;
	border: 4px groove darkred;
}
